@model CarSystemProjectAdmin.Models.Car

@{
    ViewBag.Title = "SoldCar";
}

<h2>SoldCar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CarNo)
    <div class="form-horizontal">
        <h3>Verify Car</h3>


        <label>Car No:</label>
        @Html.DisplayFor(model => model.CarNo, new { htmlAttributes = new { @class = "form-control" } })

        @Html.HiddenFor(model => model.CarImage, new { htmlAttributes = new { @class = "form-control" } })

        <br />
        <label>Car Name:</label>
        @Html.DisplayFor(model => model.CarName, new { htmlAttributes = new { @class = "form-control" } })


        @Html.HiddenFor(model => model.CarModel, new { htmlAttributes = new { @class = "form-control" } })



        @Html.HiddenFor(model => model.CarYear, new { htmlAttributes = new { @class = "form-control" } })

        @Html.HiddenFor(model => model.CarType, new { htmlAttributes = new { @class = "form-control" } })

        @Html.HiddenFor(model => model.NoOfOwners, new { htmlAttributes = new { @class = "form-control" } })



        @Html.HiddenFor(model => model.CarVerified)



        @Html.HiddenFor(model => model.CarSold, new { @Value = "True" })

        @Html.HiddenFor(model => model.CarUid, new { htmlAttributes = new { @class = "form-control" } })

        @Html.HiddenFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })

        <br />
        <label>Do You Want Confirm?</label>

        <div class="row">

            <div class="col-lg-1">
                @Html.ActionLink("Back to List", "NewArrivals", null, new { @class = "btn btn-primary btn-back" })
            </div>&nbsp;&nbsp;
            <div class=" col-md-10">
                &nbsp;&nbsp;
                <input type="submit" value="Confirm" class="btn btn-success" />
            </div>
        </div>
    </div>
}



