@model FrontEndApp.Models.UserData

@{
    ViewBag.Title = "Login";
}


<h1 class="display-3 text-center m-4"> Login Here</h1>


<div class="row w-100" style="margin-left:10px;padding:10px;">

    <div class="col p-0" style="background-color: #e1faf7">

        <div class="container">
            <div class="row">
                <div class="col-md-4 ">

                </div>
                <div class="col-md-4">


                    <div class="form-group-sm">
                        <form action="Login" method="post">
                            &nbsp;
                            &nbsp;
                            <div>
                                <label>User Name:</label>
                            </div>
                            <div>
                                <input type="text" name="Email" placeholder="Email" required class="form-control" />
                            </div>

                            <div>
                                <label>Password:</label>
                            </div>
                            <div>
                                <input type="password" name="Password" placeholder="Password" required class="form-control" />
                            </div>
                            
                            &nbsp;
                                <div>
                                    <div>
                                        <input type="submit" value="Login" class=" form-control btn-success" />


                                    </div>
                                    &nbsp;
                                    <div>
                                        <label class="text-danger">@ViewBag.Notification</label>

                                    </div>
                                    
                                </div>


                            
                            @TempData["UserEx"]

                        </form>
                    </div>


                </div>

            </div>
        </div>

    </div>
    <div class="col bg-light">

        <div class="">

            <h1 class=" mt-4"> Trust Makes Perfect Relation </h1>
            <p class="lead text-justify">
                <img src="~/Images/loginpage.jpg" style="height:350px;width:550px;" />


            </p>

        </div>

    </div>

</div>


@*<h2>Login</h2>


    @using (Html.BeginForm("Login","Account"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>LoginModel</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" class="btn btn-default" />
                </div>
            </div>
        </div>
    }



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
