@model IEnumerable<FrontEndApp.Models.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfOwners)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarVerified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarSold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarUid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfOwners)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarVerified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarSold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarUid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CarNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.CarNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CarNo })
        </td>
    </tr>
}

</table>
